<%= form_for @project, url: project_path(@project), html: {method: :put} do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.select(:default_language_id, Language.all.collect {|p| [ p.name, p.id ] })%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
 <%= link_to 'back', projects_path %>
