<%= form_for :project, url: import_project_path(@project), html: {method: :post} do |f| %>
  <p>
    <%=f.label :content%><br>
    <%= f.file_field :locales%>
 </p>
 <p>
   <%= f.submit %>
 </p>
    <%end%>

<%=form_for :project_languages, url: add_language_project_path(@project), html: {method: :post} do |f|%>
<p>
<%=f.label :add_language%><br>
<%= f.select(:language_id, Language.all.collect {|p| [ p.name, p.id ] })%>
</p>

<p>
<%=f.submit%>
</p>
<%end%>
 <%= link_to 'back', projects_path %>
